@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @media (min-width: 768px) {
    .md\:hidden {
      display: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-cairo), sans-serif;
}


.spinner {
  @apply border-4 border-t-4 border-blue-500 rounded-full w-16 h-16 animate-spin;
}